<div class="pirate">
  <h3>Name: <%= @pirate.name %></h3>
  <h4>Weight: <%= @pirate.weight %></h4>
  <h4>Height: <%= @pirate.height %></h4>
</div>
 <h2>Ship 1</h2>
   <div class="ship">
      <p>Name: <%= @ship1.name %></p>
      <p>Type: <%= @ship1.type %></p>
      <p>Booty: <%= @ship1.booty %></p>
    </div>
 <h2>Display your first ship here</h2>	<h2>Ship 2</h2>
     <div class="ship">
       <p>Name: <%= @ship2.name %></p>
<h2>Display your second ship here</h2>	      <p>Type: <%= @ship2.type %></p>
      <p>Booty: <%= @ship2.booty %></p>
    </div> 